<ion-header>
  <ion-toolbar>
    <ion-title>home2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <ion-button routerLink="/home" routerDirection="forward">
      homeへいく
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-button routerLink="/home2" routerDirection="forward">
      home2へいく
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-button routerLink="/home3" routerDirection="forward">
      home3へいく
    </ion-button>
  </ion-buttons>
</ion-content>
